@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --text: #f3efef;
    --background: #121f0a;
    --primary: #efbcd5;
    --secondary: #4b2376;
    --accent: #ee74af;
    --songHeight: 5rem;
    --playlistLimit: 5;
}

html {
    min-height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
}

main {
    width: 100vw;
    width: 100svw;
    background-color: var(--background);
    color: var(--text);
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAV */

nav {
    box-sizing: border-box;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    background-color: var(--background);
    border-bottom: 1px solid var(--primary);
    margin-bottom: -1px;
}

.nav-section {
    height: 10vh;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-in-out;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button:visited {
    color: var(--text);
}

.nav-button {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
}

.nav-button:after {
    content: "";
    position: absolute;
    background-color: var(--accent);
    height: 2px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 0.3s;
}

.nav-button:hover:after {
    width: 100%;
}

#nav-button-account:after {
    height: 0px;
}

#nav-button-account:hover {
    color: var(--accent);
}

#nav-logo-section {
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo > img {
    height: 1.5rem;
}

.hamburger-icon-section {
    padding: 0 1rem;
}

.hamburger {
    font-size: 1.5rem;
    color: var(--text);
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger-nav {
    flex-direction: column;
    position: absolute;
    background-color: var(--background);
    width: 100%;
    z-index: 1;
    top: 10vh;
}

.hamburger-nav > :nth-child(1) {
    border-top: 1px solid rgb(114, 114, 114);
}

.hamburger-nav-section {
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid rgb(114, 114, 114);
}

.hamburger-nav-button {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
}

.hamburger-nav-button:after {
    content: "";
    position: absolute;
    background-color: var(--accent);
    height: 2px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 0.3s;
}

.hamburger-nav-button:hover:after {
    width: 100%;
}

.hamburger-nav-button:hover {
    cursor: pointer;
}

/*               */
.welcome {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 0;
}

.welcome-text {
    z-index: -1;
    transition: all 1.5s;
    font-size: clamp(5rem, 25vw, 15rem);
}

.enter-link {
    padding: 1rem;
    display: flex;
    background-color: var(--primary);
    box-shadow: inset 0 0 0 5px var(--secondary), inset 0 0 0 10px var(--accent);
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, clamp(2.5rem, 12.5vw, 7.5rem));
    position: absolute;
    font-size: clamp(1.25rem, 6.25vw, 3.75rem);
}

.enter-link > a {
    color: var(--background);
    text-decoration: none;
}

.search {
    font-family: "Manrope";
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    /*
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    */
    gap: 1rem;
    width: 100%;
    padding: 1rem 0rem;
}

.search > input {
    height: 3rem;
    width: clamp(15rem, 50vw, 20rem);
    padding: 1rem;
    font-size: 1rem;
    border: none;

    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #000000, var(--accent));
}

.search > .search-button {
    border: none;
    font-size: 1.5rem;
}

.search > .search-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.search-popup,
.customise-popup,
.select-popup {
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0.5rem 1rem;
    z-index: 1;
    font-size: 1rem;
    white-space: nowrap;
    background: red;
    bottom: 75px;
    cursor: auto;
    border-radius: 5px;
}

.search-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
}

.show {
    visibility: visible !important;
    animation: fadeIn 0.5s;
}

.customise-popup {
    width: 20rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

.customise-popup > p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

input:focus {
    outline: none;
}

.playlist {
    width: 100%;
    /*height:calc(var(--songHeight) * var(--playlistLimit));*/
    display: flex;
    justify-content: center;
}

.playlist-wrapper {
    width: 70%;
    /*background-color:var(--text);*/
    flex-direction: column;
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    /*height: calc(var(--songHeight) * var(--playlistLimit));*/
}

.song {
    color: var(--background);
    position: relative;
    padding: 0.5rem 1rem;
    height: var(--songHeight);
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    background-size: cover;
    background-position: center;
    /*border:1px solid var(--text);*/
}

.trash:hover {
    cursor: pointer;
}

.trash-wrapper {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* when hovering on song card show option to delete */

.song:hover .trash-wrapper {
    visibility: visible;
}

.song:hover {
    opacity: 0.9;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0rem 0.5rem;
    min-width: 0;
}

.song-title {
    font-size: 2rem;
}

.song-artist {
    font-size: 1rem;
}

p,
h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.choose {
    text-align: left;
}

.song-length,
.trash-wrapper {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-length {
    padding: 0rem 1rem;
}

.checkbox {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

/* CHOOSE SONG */

.choose-song {
    position: absolute;
    border: none;
    background-color: var(--text);
    width: 30rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.choose-song-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}

.exit:hover {
    cursor: pointer;
    opacity: 0.5;
}

.choose-song-heading {
    color: var(--background);
    padding-bottom: 0.5rem;
}

.popup {
    height: 4rem;
}

.popup:hover {
    cursor: pointer;
}

.load-more {
    float: left;
    color: var(--secondary);
    cursor: pointer;
    padding: 0.5rem;
}

/* CUSTOMISE */

.customise,
.customise-select {
    width: 100%;
    display: flex;
    justify-content: center;
}

.customise-select-wrapper {
    position: relative;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.customise-wrapper {
    padding: 1rem;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.select-colour,
.select-font-colour,
.select-font-type {
    position: relative;
}

.select-colour-btn,
.select-font-type-btn,
.select-font-colour-btn,
.upload-background-btn {
    width: 10rem;
    padding: 1rem;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Manrope", sans-serif;
}

.select-colour-btn:hover,
.select-font-type-btn:hover,
.select-font-colour-btn:hover,
.upload-background-btn:hover,
.save-btn:hover,
.close-style-btn:hover {
    cursor: pointer;
}

.select-all-btn,
.apply-selection-btn,
.full-background-image-btn {
    padding: 0.5rem;
    border: none;
}

.upload-background > input {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.background-colour-picker,
.font-colour-picker {
    position: absolute;
    bottom: 80px;
}

.background-colour-picker,
.font-colour-picker {
    transform: translateX(-15%); /* APPROXIMATION */
}

/* google font search input */

.font-searcher-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    bottom: 80px;
    background: white;
    width: 18rem;
    height: 15rem;
    padding: 1rem;
    transform: translateX(-20%);
}

.font-searcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
    background: white;
    height: 3.5rem;
    width: 16rem;
    padding: 1px;
    color: "black";
}

.font-searcher > input {
    padding: 1rem;
    flex-grow: 2;
    border: none;
    font-size: 1rem;
}

.font-searcher > input:focus {
    outline: none;
}

.font-searcher:focus-within {
    outline: 1px solid blue;
}

.font-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.font-list > .font {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--background);
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid lightgrey;
}

.font-list > .font:hover {
    cursor: pointer;
    opacity: 0.5;
}

.save-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 2%;
    color: var(--background);
    background: var(--primary);
}

.save-modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.save-modal-wrapper > input {
    height: 3rem;
    width: clamp(15rem, 50vw, 20rem);
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid var(--background);
    background-color: var(--text);
}

.modal-btn-wrapper {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-cancel-btn,
.modal-save-btn {
    width: 7rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--text);
}

.modal-save-btn {
    background-color: var(--accent);
}

.modal-cancel-btn:hover,
.modal-save-btn:hover {
    cursor: pointer;
}

/* EXPLORE */

.feed {
    width: 100vw;
    width: 100svw;
    background-color: var(--background);
    color: var(--text);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
}

.post {
    width: 100%;
    position: relative;
}

.post > img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1.75 / 1;
}

.post-info {
    font-family: "Manrope", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0rem;
    width: 100%;
}

.post-info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
    font-size: clamp(1rem, 5vw, 2rem);
}

.post-info > .date {
    font-weight: 200;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    justify-content: flex-end;
}

.post-info > .author {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    font-weight: 300;
}

.post-info > .author > p > span {
    opacity: 0.7;
    font-weight: 200;
}

/* for mobile (less than 800px screen width) */
@media screen and (max-width: 800px) {
    .playlist-wrapper {
        width: 90%;
    }

    .feed-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .customise-wrapper {
        flex-direction: column;
    }
}
