@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --text: #f3efef;
    --background: #121F0A;
    --primary: #EFBCD5;
    --secondary: #450920;
    --accent: #ee74af;
    --songHeight: 5rem;
    --playlistLimit: 5;
}

* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
    font-family: 'Lexend', sans-serif;
    overflow-x:hidden;
}

main {
    width: 100vw;
    width: 100svw;
    background-color: var(--background);
    color: var(--text);
    position:relative;
    min-height: 100vh;
}

.search {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 2rem;
    justify-content: center;
    align-items:center;
    gap: 1rem;
}

.search > input {
    height:3rem;
    width:20rem;
    padding: 1rem;
    font-size:1rem;
    border:none;
}

.search > .search-button {
    border: none;
    font-size:1.5rem;
}

.search > .search-button:hover {
    cursor:pointer;
    opacity:0.9;
}

input:focus {
    outline:none;
}

.playlist {
    width:100%;
    height:calc(var(--songHeight) * var(--playlistLimit));
    display:flex;
    justify-content: center;
}

.playlist-wrapper {
    width:70%;
    background-color:var(--text);
    flex-direction: column;
    align-items: flex-start;
    height: calc(var(--songHeight) * var(--playlistLimit))
    
}

.song {
    position:relative;
    padding: 0.5rem 1rem;
    height:var(--songHeight);
    display:flex;
    flex-direction: row;
    background-color: var(--accent);
    border:1px solid var(--text);
}

.trash:hover {
    cursor:pointer;
}

.trash-wrapper {
    visibility:hidden;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

/* when hovering on song card show option to delete */

.song:hover .trash-wrapper {
    visibility: visible;
}

.song:hover {
    opacity: 0.5;
}

.song-info {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 0;
}

.song-title, .song-artist {
    height:50%;
    display:flex;
    align-items:center;
}

.song-title {
    font-size: 2rem;
}

.song-artist {
    font-size: 1rem;
}


p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.song-length, .trash-wrapper {
    font-size:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.song-length {
    padding: 0rem 1rem;
}

.choose-song {
    position: absolute;
    background-color: var(--text);
    width:30rem;
    height:30rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius:5%;
}

.choose-song-wrapper {
    width:100%;
    flex-direction: column;
    align-items: flex-start;
    text-align:center;
}

.exit {
    position:absolute;
    top:0;
    right:0;
    margin-top:1rem;
    margin-right:1rem;
}

.exit:hover {
    cursor:pointer;
    opacity:0.5;
}

.choose-song-heading {
    color:var(--background);
}

.popup {
    height:4rem;
}

.popup:hover {
    cursor:pointer;
}