:root {
    --text: #f3efef;
    --background: #121F0A;
    --primary: #EFBCD5;
    --secondary: #450920;
    --accent: #ee74af;
}

* {
    margin:0;
}

main {
    width: 100vw;
    width: 100svw;
    background-color: var(--background);
    color: var(--text);
}

.search {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 2rem;
    justify-content: center;
    gap: 1rem;
}

input:focus {
    outline:none;
}